<style>
  .CustomFooter {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    font-size: 20px;
  }


  .FLogo,
  .NavTitle {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    font-size: 20px;
  }

  .FLogo:hover,
  .NavTitle:hover {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    color: black;
    font-size: 20px;
  }

  a {
    transition: color 0.3s ease;
  }

  a:hover {
    color: #f0f0f0;
  }


  .special:hover {
    color: black !important
  }
</style>
<footer class="footer bg-dark text-light pt-4 CustomFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h2 class="text-white">Contact</h2>
        <a class="btn btn-outline-light special" href="mailto:ruizhuo168@gmail.com">Email Us</a>
      </div>

      <div class="col-md-4 mb-3">
        <h2 class="NavTitle text-white">Links</h2>
        <ul class="list-unstyled">
          <li><a href="/" class="text-decoration-none text-white-50">About Us</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h2 class="NavTitle" style="font-size: 24px; font-weight: bold; color: #fff;">Message from Us</h2>
        <p style="font-size: 16px; color: rgba(255, 255, 255, 0.7); line-height: 1.6;">Thank you for visiting our Neural Network Classification website. We trust that your experience using our platform has been enjoyable and informative. Your satisfaction is our priority. Thank you for choosing us!</p>
      </div>
      
    </div>

    <div class="row">
      <div class="col-12 text-center mt-3">
        <p class="text-secondary">&copy; 2024 Image Classification App. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>